This file is obtained from Google.com:

- Log into the account
- Visit https://developers.google.com/gmail/api/quickstart/python
- Click the Enable API Access button
- Choose "Desktop Application"
- Click "Download Client Configuration"
- Place the resulting credentials.json in this directory on the system that should have access
